<%- include('../partials/header') %>

<section id="show-page">
  <div id="showAirline">Airline: </div>
  <div><%= flight.airline %></div>
  <div id="showAirport">Airport: </div>
  <div><%= flight.airport %></div>
  <div id="showFlightno">Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div id="showDepart">Departure: </div>
  <div><%= flight.departs %></div>
</section>

<a href="/flights/<%= flight._id %>/tickets/new">Tickets</a>

<% if (tickets.length > 0) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
          <td>
            <form action="/tickets/<%= t._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets Yet</h5>
<% } %>


<br><br><h2>Add Destination:</h2>
<form id="add-destination-form" method="POST"
    action="/flights/<%= flight.id %>/destinations">
    <label>Destination:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    <input type="datetime-local" name="arrival">  
    <input type="submit" value="Add Destination">
</form>


<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destinations</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(flight) { %>
          <tr>
            <td id="airport"><%= flight.airport %></td>
            <td id="arrival"><%= flight.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destination Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>
